@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  color: #333333;
  background: #ff94f6;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.weather {
  min-height: 800px;
  max-width: 1000px;
  margin: 100px auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.weather__title {
  background-image: url('https://source.unsplash.com/1600x900/?nature,rain');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.weather__location-input input {
  border: none;
  border-bottom: solid 1px #c000b0;
  padding: 10px 0 10px 0;
  width: 100%;
}

.weather__location-input button {
  margin-top: 20px;
  border: none;
  border: solid 1px #c000b0;
  padding: 10px 0 10px 0;
  background: none;
  color: #810077;
  text-align: center;
  width: 100%;
  background-color: #c000b0;
  color: #ffffff;
}

.weather__location-input button:hover {
  background-color: #ffffff;
  color: #c000b0;
}

.weather__info {
  font-size: 16px;
  font-weight: 100;
  line-height: 3;
}

.weather__info span {
  color: #c000b0;
}

.weather__not-found {
  color: #c000b0;
  font-size: 20px;
}

@media (min-width: 576px) {
  .weather {
    display: flex;
  }

  .weather__title {
    height: auto;
  }
}

@media (min-width: 768px) {
  .weather {
    display: flex;
  }

  .weather__title {
    height: auto;
  }
}
