$colorUsername: #385898;
$colorBeLike: #0026ff;
$colorTime: #616770;
$colorStatusCmtLikeShare: #606770;
$colorStatus: #1d2129;
$colorStatusbox: #ffffff;
$colorComment: #1c1e21;
$colorBgCmtInput: #8d949e;

$fontW: 600;
$lineHeightStatus: 1.38;
$backgroundCmt: #e9ebee;

$border: 1px solid #dadde1;
